/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General rules */

body {
    height: 100vh;
    background-image: url(images/backgroundimg.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
}

p {
    text-align: center;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
}

/* Header rules */
header {
    margin-bottom: 2rem;
}

header h1 {
    display: inline;
    color: #ffffff;
    background-color: #2e3f98;
    padding: .5rem;
    border-radius: 0.5rem;
}

header p {
    color: #fff;
}

main img {
    width: 300px;
    margin-bottom: 3rem;
}

ul {
    text-align: center;
    list-style-type: none;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 4rem;
}

/* Panel Rules */

.panel {
    position: absolute;
    background-image: url(images/panel-bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: left;
    text-shadow: #FC0 1px 0 10px;
    line-height: 2rem;
    transform: scale(0);
}

#recap {
    color:rgb(255, 106, 0);
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;
}

/* animation rules */

.animation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-scale {
    transform: scale(1);
    transition: transform 0.5s;
}


.img-rotate-scale {
    transform: rotate(-4turn) scale(0);
    transition: transform 1s;
}


/* Buttons */

.buttons {
    display: flex;
    justify-content: center;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
}

.flip-button {
    display: inline;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #2e3f98;
    top: 0;
    box-shadow: 0px 7px #ebf8e1;
    visibility: visible;
}

.reset-button {
    display: inline;
    margin: 0 auto;
    position: absolute;
    top: 0;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #57982e;
    box-shadow: 0px 7px #ebf8e1;
    visibility: hidden;
}

.flip-button:active {
    box-shadow: none;
    transform: translate(0px, 7px);
}

.reset-button:active {
    box-shadow: none;
    transform: translate(0px, 7px);
}

